@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family: 'myfont';
    src: url('/avfont.otf');
}

@font-face{
    font-family: 'myfontB';
    src: url('/avfontB.otf');
}
@font-face{
    font-family: 'myfontr';
    src: url('/avfontr.otf');
}
@font-face{
    font-family: 'myfonttiesemi';
    src: url('/tiehsemi.otf');
}
@font-face{
    font-family: 'myfonttiehmed';
    src: url('/tiehmed.otf');
}